.container {
  max-width: 1430px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 64px;
  margin: 0 auto 24px;
  padding: 0 24px;
}

.title-box {
  padding-top: 24px;
  max-width: 890px;
  width: 100%;
  margin: 0 auto 64px;
}

.title {
  @extend .roboto-48-bold;
  text-align: center;
  margin-bottom: 32px;
}

.text {
  @extend .roboto-24-bold;
  text-align: center;
}

.card {
  max-width: 400px;
  width: 100%;

  img {
    height: 500px;
    margin-bottom: 32px;
    transition: transform 0.3s;

    @include hover {
      transform: scale(1.05);
    }

    @include mq(480) {
      height: 350px;
    }
  }

  span {
    @extend .roboto-24-bold;
  }

  p {
    @extend .roboto-24-normal;
    text-align: center;
  }

  p:not(:last-child) {
    margin-bottom: 16px;
  }
}

@include mq(1921, min) {
  .container {
    max-width: 74.47917vw;
    grid-gap: 3.33333vw;
    margin: 0 auto 1.25vw;
    padding: 0 1.25vw;
  }

  .title-box {
    padding-top: 1.25vw;
    max-width: 46.35417vw;
    margin: 0 auto 3.33333vw;
  }

  .title {
    margin-bottom: 1.66667vw;
  }

  .card {
    max-width: 20.83333vw;
    img {
      height: 26.04167vw;
      margin-bottom: 1.66667vw;
    }
    p:not(:last-child) {
      margin-bottom: 0.83333vw;
    }
  }
}
