@font-face {
  font-family: "Roboto";
  src: url("../../src/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../src/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.roboto-48-bold {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: bold;

  @include mq(1440) {
    font-size: 40px;
  }

  @include mq(991) {
    font-size: 32px;
  }

  @include mq(768) {
    font-size: 24px;
  }
}

.roboto-24-bold {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;

  @include mq(1440) {
    font-size: 20px;
  }

  @include mq(991) {
    font-size: 18px;
  }

  @include mq(768) {
    font-size: 16px;
  }
}

.roboto-24-normal {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: normal;

  @include mq(1440) {
    font-size: 20px;
  }

  @include mq(991) {
    font-size: 18px;
  }

  @include mq(768) {
    font-size: 16px;
  }
}

@include mq(1921, min) {
  .roboto-48-bold {
    font-size: 2.5vw;
  }

  .roboto-24-bold {
    font-size: 1.25vw;
  }

  .roboto-24-normal {
    font-size: 1.25vw;
  }
}
